body {
   background-color: grey;
}

.container {
   background-color: pink;
}
.form-row {
   padding: 10px 0;
   display: flex;
}

.form-row label {
   padding-right: 10px;
}

.form-row input {
   flex: 1;
}

.container2 {
   width: auto;
   background-color: pink;
   margin: 40px auto 0 auto;
   line-height: 1.65;
   padding: 20px 50px;
   display: flex;
}

.main_column {
   flex: 2;
   order: 2;
}

.sidebar1 {
   flex: 1;
   order: 1;
}

.sidebar2 {
   flex: 1;
   order: 3;
}

.call-outs-container{
   margin: 40px auto 0 auto;
   /* align-items: flex-start; */
   /* evenly distribute left 10% for margins */


}

.call-out1 {
   /* with flexbox when using width(flex-basis) and padding, you should add box-sizing: border-box; */
   padding: 20px;
   margin-bottom: 20px;
   /* flex: 1; */
   flex-basis: 30%;
   box-sizing: border-box;
   background-color: white;
}

.call-out2 {
   padding: 20px;
   margin-bottom: 20px;
   /* flex: 1; */
   flex-basis: 30%;
   box-sizing: border-box;
   background-color: yellow;
}

.call-out3 {
   padding: 20px;
   margin-bottom: 20px;
   /* flex: 1; */
   flex-basis: 30%;
   box-sizing: border-box;
   background-color: purple;
}

/* only screen this large can receive flexbox based properties - for mobile devices */

@media (min-width: 900px) {
   .call-outs-container{
      display: flex;
      justify-content: space-between;
   }
}

/* center content */
.banner {
   height: 400px;
   max-width: 700px;
   margin: 40px auto 40px auto;
   background-color: #2a2a2a;
   display: flex

}

.center-me {
   color: #FFF;
   font-size: 50px;
   /* until parent element is flex, auto is enough to center the content in this case */
   margin: auto;
}

/* make columns look nice */
.equal-height-container {
   max-width: 900px;
   margin: 0 auto;
   display: flex;
}

.first {
   background-color: #FFF;
   padding: 20px;
   flex: 1;
}
 /* nesting flex inside of a flex */
 /* by default flexbox lets you share horizontal space */
.second {
   background-color: yellow;
   flex: 1;
   display: flex;
   /* will share aviable vertical space */
   flex-direction: column;
}

.second-a {
   background-color: pink;
   flex: 1;
}

.second-b {
   background-color: blue;
   flex: 1;
}
