body {
	margin: 0;
}

.navigation {
	background-color: pink;
	text-align: center;
	width: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.nav_li {
	display: inline;
	font-size: 25px;
	padding: 10px;
	color: white;

}

.main_container {
	display: flex;
}

.left_section {
	background-color: green;
	flex: 1;
	box-sizing: border-box;
	flex-basis: 65%;
	padding: 20px;
}

/*insert ul and li here*/

.right_section {
	background-color: grey;
	flex: 1;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-basis: 35%;
}

.first_article {
	flex: 1;
}

.second_article {
	flex: 1;
}

.paragraph {
	font: Georgia;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	padding: 0.5em;
	flex-flow: row wrap;
}


ul {
	color: black;/* need to be defined */
}

li {
	color: black;
}
