body {
	margin: 0;
}

.navigation {
	background-color: pink;
	text-align: center;
	width: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.nav_li {
	display: inline;
	font-size: 25px;
	padding: 10px;
	color: white;

}

.main_container {
	display: flex;


}

.left_section {
	background-color: green;
	width: 65%;
	float: left;
	height: 100%;
}

/*insert ul and li here*/

.right_section {
	background-color: grey;
	width: 35%;
	float: right;
	height: 100%;
}

.first_article {

}

.second_article {

}

.paragraph {
	font: Georgia;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	padding: 0.5em;

}


ul {
	/* need to be defined */
}

li {

}
